a {
  color: #dc004e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.static-page-content {
  h2 {
    border-bottom: 2px solid #ccc;
    padding: 0.6rem 0.3rem;
    margin: 1em 0;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    margin-top: 0.33em;
    margin-bottom: 0.33em;
  }

  li > p {
    margin: 0;
  }

  .highlight {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    background-color: #e8f5e9;
    font-size: 0.8em;
    padding: 1em 0.5em;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
